h1 {
    margin-bottom: 5px !important;
}

select {
    background-color: #252525 !important;
    color: #CACACA !important;
    border: 1px solid #909CFE !important;
    padding: 10px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 15px !important;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 0;
    display: block;
}

#shortcut-name-display {
    color: #CACACA !important;
    font-weight: 300 !important;
    margin: 5px 0 !important;
}