h1 {
    margin-bottom: 5px !important;
}

#shortcut-title {
    color: #CACACA;
    font-size: 28px;
    margin-top: 0 !important;
    font-weight: 500 !important;
}

.success-message {
    color: #909CFE;
    font-weight: bold;
}

.error-message {
    color: #FF5733;
    font-weight: bold;
}

.form-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-column {
    flex: 1;
    min-width: 300px;
}

.form-group {
    margin-bottom: 15px;
}

#color-picker-container {
    display: inline-block;
}

.color-input-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
}

.color-picker {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100px !important;
    margin: 0 !important;
    margin-right: 10px;
    height: 50px;
}

.delete-button {
    background-color: #ff4d4d !important;
    color: #252525;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.delete-button:hover {
    background-color: #ff4d4d !important;
    color: #252525;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.revert-to-draft-button {
    border: 2px solid #909CFE;
    background-color: transparent;
    color: #909CFE;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

#shortcut-actions {
    background-color: #373737;
    color: #CACACA;
    border: 1px solid #909CFE;
    border-radius: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
}