/* Deactivate interaction with the background when modal is open */
body.modal-open #wpcontent {
    pointer-events: none; /* Disable interaction with background elements */
    transition: filter 0.3s ease;
}

/* Ensuring the modal is not affected and remains interactive */
#edit-modal {
    filter: none;
    z-index: 1001; /* Higher than #wpcontent to ensure it's on top */
    pointer-events: auto; /* Enable interactions with modal */
    position: fixed;
    right: 0;
    top: 0;
    width: 403px;
    height: 100%;
    padding: 20px;
    padding-top: 30px;
    background-color: #373737;
    color: #CACACA;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#edit-modal.active {
    transform: translateX(0); /* Slide-in effect for the modal */
}

/* Modal Heading */
#edit-modal h2 {
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* Input, Textarea, Select Styles in Modal */
#edit-modal input, #edit-modal textarea, #edit-modal select {
    background-color: #252525;
    color: #CACACA;
    border: 1px solid #909CFE;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0;
    font-size: 15px;
}

/* Modal form labels */
#edit-modal label {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0;
    padding-bottom: 5px;
    display: inline-block;
    color: #252525;
    background-color: #909CFE;
    line-height: 1.3em;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 1px;
}

#edit-modal button.shortcuts-button {
    display: inline-block;
    background-color: #909CFE;
    color: #252525;
    font-weight: 600;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 15px;
}

#edit-modal .close-button {
    display: inline-block;
    color: #252525;
    font-weight: 600;
    margin-left: 15px;
}

/* Success and Error Message Styling */
.success-message, .error-message {
    color: #909CFE; /* For success messages */
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.error-message {
    color: #FF6B6B; /* For error messages */
}

/* Deactivate scrolling and interaction with the background when modal is open */
body.modal-open {
    overflow: hidden; /* Prevent background scrolling */
}