#download-button a {
    height: 60px;
    background-color: #909CFE;
    color: #252525;
    border: none;
    border-radius: 0;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
