#download-button {
    height: 60px;
    max-width: 300px;
    width: 100%;
    background-color: #909CFE;
    color: #252525;
    border: none;
    border-radius: 0;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    display: inline-block;
}
