body {
    background-color: #252525;
    color: #CACACA;
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
}

#wpcontent {
    padding: 20px;
}

/* Headers */

h1 {
    font-size: 34px;
    color: #909CFE;
    margin-bottom: 10px;
}

h2#shortcut-name-display {
    color: #CACACA !important;
    font-size: 24px;
    font-weight: 300 !important;
    margin-top: 0 !important;
    margin-bottom: 30px !important;
}

/* Form Labels */
label {
    display: inline-block;
    font-weight: bold;
    color: #252525;
    background-color: #909CFE;
    border-radius: 0 !important;
    padding: 5px 20px;
    width: auto;
    border: none;
    margin-bottom: 10px;
}

/* Form Elements */
#wpbody input[type="text"],
#wpbody input[type="color"],
#wpbody textarea,
#wpbody select {
    background-color: #373737 !important;
    color: #CACACA !important;
    padding: 10px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 30px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 0;
    display: block;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Form Row Spacing */
.form-row {
    margin-bottom: 30px;
}

/* Icon Selector Spacing */
#icon-selector-container {
    margin-bottom: 30px;
}

.icon-preview {
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Color Picker Spacing */
#color-picker-container {
    margin-bottom: 30px;
}

/* Textarea Specific Spacing */
textarea {
    margin-bottom: 35px !important;
    min-height: 120px;
}

/* Button Groups Spacing */
.button-group {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Button Styles */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909CFE;
    color: #252525;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 0 !important;
    cursor: pointer;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.delete-button {
    background-color: #ff4d4d !important;
    color: #252525;
}

.restore-button {
    background-color: #909CFE;
    color: #252525;
}

.revert-button {
    border: 2px solid #909CFE;
    background-color: transparent;
    color: #909CFE;
}

.save-draft {
    border: 2px solid #909CFE;
    background-color: transparent;
    color: #909CFE;
}

.publish-button {
    background-color: #909CFE;
    color: #252525;
}

.cancel-button {
    background-color: #909cfe;
    color: #252525;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 30px !important;
}

/* Badges */
.badge {
    position: relative;
    margin-left: 5px;
    background-color: #9e9e9e;
    color: #252525;
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 0px;
    font-size: 13px;
}

/* Link Styles */
a {
    font-weight: 600;
    color: #909CFE;
    text-decoration: none;
}
