body {
    background-color: #252525;
    color: #CACACA;
    font-family: 'Karla', sans-serif;
    min-height: 100vh;
}

#wpcontent {
    padding: 20px;
}

/* Headers */
h1 {
    font-size: 34px;
    color: #909CFE !important;
    margin-bottom: 30px !important;
}

/* Form Labels */
label {
    display: inline-block;
    font-weight: bold;
    color: #252525;
    background-color: #909CFE;
    border-radius: 0 !important;
    padding: 5px 20px;
    width: auto;
    border: none;
}

/* Form Elements */
input[type="text"],
input[type="color"],
textarea,
select {
    background-color: #252525 !important;
    color: #CACACA !important;
    border: 1px solid #909CFE !important;
    padding: 10px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 15px !important;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 0;
    display: block;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Button Styles */
button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #909CFE;
    color: #252525;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 0 !important;
    cursor: pointer;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.delete-button {
    background-color: #ff4d4d !important;
    color: #252525;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.restore-button {
    background-color: #909CFE;
    color: #252525;
    border: none;
}

.revert-button {
    border: 2px solid #909CFE;
    background-color: transparent;
    color: #909CFE;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

.publish-button {
    background-color: #909CFE;
    color: #252525;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.4s;
}

.cancel-button {
    background-color: #b1b1b1;
    color: #252525;
    border: none;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Link Styles */
a {
    font-weight: 600;
    color: #909CFE;
    text-decoration: none;
}

.shortcuts-page-title {
    font-size: 34px;
    color: #909CFE;
    margin-bottom: 30px;
}
