/* Modal for Editing or Adding Version */
#edit-version-modal, #add-version-modal {
    display: block;
    visibility: hidden;
    filter: none;
    z-index: 1000;
    pointer-events: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 403px;
    height: 100%;
    padding: 20px;
    padding-top: 60px !important;
    background-color: #373737;
    color: #CACACA;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

#edit-version-modal.active, #add-version-modal.active {
    visibility: visible;
    transform: translateX(0);
}

#edit-version-modal h1, #add-version-modal h1 {
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 15px !important;
}

#edit-version-modal h2, #add-version-modal h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 40px;
}

#edit-version-modal input, #edit-version-modal textarea, #edit-version-modal select,
#add-version-modal input, #add-version-modal textarea, #add-version-modal select,
#edit-version-modal input[type="text"], #add-version-modal input[type="text"] {
    display: block;
    background-color: #252525 !important;
    color: #CACACA;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0;
    border: none !important;
    font-size: 15px;
}

#edit-version-modal .close-button, #add-version-modal .close-button {
    display: inline-block;
    color: #252525;
    font-weight: 600;
    margin-left: 15px;
}

#edit-version-form label, #add-version-form label {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    display: inline-block;
    color: #252525;
    background-color: #909cfe;
    line-height: 1.3em;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#edit-version-modal .save-draft-button, #add-version-modal .save-draft-button {
    background-color: transparent !important;
    border: 2px solid #909CFE !important;
    color: #909CFE !important;
}

#edit-version-modal .update-button, #add-version-modal .update-button {
    background-color: #909CFE !important;
    color: #252525 !important;
}

#edit-version-modal .publish-button, #add-version-modal .publish-button {
    background-color: #909CFE !important;
    color: #252525 !important;
}

#edit-version-modal .delete-button, #add-version-modal .delete-button {
    background-color: #e46e6e !important;
    color: #252525 !important;
}

#edit-version-modal .switch-to-draft-button, #add-version-modal .switch-to-draft-button {
    background-color: transparent !important;
    border: 2px solid #909CFE !important;
    color: #909CFE !important;
}

.version-edit-error, .version-add-error {
    margin-top: 20px !important;
}

#version-feedback-message {
    display: none;
    color: #909CFE !important;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
}

#version-display {
    color: #CACACA;
}