#versions-view {
    display: none;
}

#shortcuts-view {
    display: block;
}

#versions-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.versions-page-title {
    margin-bottom: 10px !important;
}

#versions-header-bar {
    margin: 20px 0 30px !important;
    display: flex;
    align-items: center;
    height: 50px !important;
    margin-bottom: 50px !important;
}

#back-to-shortcuts {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 50px;
    color: #909CFE !important;
    background-color: #252525;
    border: 2px solid;
}

#shortcut-name-display {
    color: #CACACA;
    font-size: 28px !important;
    font-weight: 500;
    margin-top: 5px;
}

/* Common styles for all filter inputs and selects */
#search-versions-input,
#filter-version-status,
#filter-version-deleted,
#filter-required-update,
.version-filters {
    background-color: #252525;
    color: #CACACA;
    border: none !important;
    border-radius: 0 !important;
    font-size: 15px;
    height: 50px !important;
    margin: 0 !important;
    padding: 0 10px;
}

#search-versions-input {
    width: 240px !important;
}

#versions-filters {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
}

#reset-version-filters {
    background-color: #909CFE !important;
    color: #252525 !important;
    font-weight: 600;
    font-size: 15px;
    border: none;
    cursor: pointer;
    min-width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-version-button {
    width: 80px;
    height: 80px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #909CFE;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.delete-button {
    background-color: #e46e6e;
    color: #252525;
}

/* Modal styles */
body.modal-open {
    overflow: hidden;
    pointer-events: none;
}

#edit-version-modal {
    pointer-events: auto;
}
