.version-item {
    background-color: #2c2c2c;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.version-header {
    background-color: #373737;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #373737;
}

.version-header h3 {
    color: #909cfe;
    margin: 0;
    flex-grow: 1;
}

.version-body {
    padding: 12px;
    display: none;
    border-bottom: 1px solid #373737;
}

.version-body p {
    margin-top: 0;
    line-height: 1.2em;
    color: #cacaca;
}

.version-body p strong {
    color: #909cfe;
    font-weight: bold;
}